    <footer class="pie__pagina">
        <div class="pie_1">
            <h2 class="pie__titulo">QuizQuest</h2>
            <h3 class="pie__titulo pie__subtitulo">Integrantes</h3>
            <ul class="pie__integrantes">
                <li>Vargas Franco</li>
                <li>Gavagnin Lucas</li>
                <li>Aruquipa Alan</li>
            </ul>   
        </div>
        <div class="pie-2">
            <h3 class="pie__titulo pie__subtitulo">Materia</h3>
            <p class="pie__parrafo">Programacion Web II</p>

            <h3 class="pie__titulo pie__subtitulo">Universidad</h3>
            <p class="pie__parrafo">Universidad Nacional de la Matanza</p>
    
        </div>
    </footer>
</body>
</html>