<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    {{#isOnLobbyUsuarioView}}
        <link rel="stylesheet" href="/quizquest/public/css/lobby_usuario.css">
        <script src="https://www.paypal.com/sdk/js?client-id=AVKIMizN83w9L_Kx0bAWY5BkgmTd_WGG9k7Ju_MfaHBv2Uui7jLblb4okesZsTTrybfBcN78gsB2zHWE&currency=USD"></script>
    {{/isOnLobbyUsuarioView}}

    {{#isOnLobbyEditorView}}
        <link rel="stylesheet" href="/quizquest/public/css/lobby_editor.css">
    {{/isOnLobbyEditorView}}

    {{#isOnLobbyAdministradorView}}
        <link rel="stylesheet" href="/quizquest/public/css/lobby_admin.css">
    {{/isOnLobbyAdministradorView}}

    {{#isOnQuestionManagementView}}
        <link rel="stylesheet" href="/quizquest/public/css/question_management.css">
    {{/isOnQuestionManagementView}}
    
    {{#isOnEditView}}
            <link rel="stylesheet" href="/quizquest/public/css/edicion_preguntas.css">
    {{/isOnEditView}}
    
    {{#isOnJuegoView}}
        <link rel="stylesheet" href="/quizquest/public/css/juego.css">
    {{/isOnJuegoView}}

    {{#isOnJuegoToTheEnd}}
        <link rel="stylesheet" href="/quizquest/public/css/juegoFin.css">
    {{/isOnJuegoToTheEnd}}
    
    {{#isOnRankingView}}
        <link rel="stylesheet" href="/quizquest/public/css/ranking.css">
    {{/isOnRankingView}}

    {{#isOnPartidaView}}
        <link rel="stylesheet" href="/quizquest/public/css/partidas.css">
    {{/isOnPartidaView}}
    
    {{#isOnLoginView}}
        <link rel="stylesheet" href="/quizquest/public/css/login.css"> 
    {{/isOnLoginView}}
    
    {{#isOnRegisterView}}
            <link rel="stylesheet" href="/quizquest/public/css/registro.css"> 
    {{/isOnRegisterView}}

    {{#isOnPerfilView}}
        <link rel="stylesheet" href="/quizquest/public/css/perfil.css">
    {{/isOnPerfilView}}
    {{#isOnShowPerfilView}}
            <link rel="stylesheet" href="/quizquest/public/css/verPerfil.css">
    {{/isOnShowPerfilView}}
    {{#isOnValidateView}}
        <link rel="stylesheet" href="/quizquest/public/css/validacion.css">
    {{/isOnValidateView}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/quizquest/public/imagenes/quiz.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>QuizQuest</title>
</head>
<body>
    <header class="encabezado">
        {{#isOnLobbyEditorView}}
            <a href="/quizquest/lobbyeditor/get" style="text-decoration:none" id="inicio">
                <h1 class="encabezado__titulo">QuizQuest Editor</h1>
            </a>
        {{/isOnLobbyEditorView}}

        {{#isOnLobbyAdministradorView}}
            <a href="/quizquest/lobbyadministrador/get" style="text-decoration:none" id="inicio">
                <h1 class="encabezado__titulo">QuizQuest Administrador</h1>
            </a>
        {{/isOnLobbyAdministradorView}}

        {{#isOnQuestionManagementView}}
            <a href="/quizquest/lobbyeditor/get" style="text-decoration:none" id="inicio">
                <h1 class="encabezado__titulo">QuizQuest Editor</h1>
            </a>
        {{/isOnQuestionManagementView}}

        {{#isOnLobbyUsuarioView}}
        <a href="/quizquest/lobbyusuario/get">
            <h1 class="encabezado__titulo">QuizQuest</h1>
        </a>
        <div class="div__cantidad__trampitas">
            <img  class="helado__icon" src="/quizquest/public/imagenes/helado.svg" alt ="bolso">
            <span id="cantidad_helados">0</span>

        </div>

        <div class="buy__button">
            <img  class="bolso" src="/quizquest/public/imagenes/bolso.svg" alt ="bolso">
        </div>
        {{/isOnLobbyUsuarioView}}

        {{#isOnPerfilView}}
            <a href="/quizquest/lobbyusuario/get">
                <h1 class="encabezado__titulo">QuizQuest</h1>
            </a>
        {{/isOnPerfilView}}

        {{#isOnShowPerfilView}}
            <a href="/quizquest/lobbyusuario/get">
                <h1 class="encabezado__titulo">QuizQuest</h1>
            </a>
        {{/isOnShowPerfilView}}

        {{#isOnRankingView}}
        <a href="/quizquest/lobbyusuario/get">
            <h1 class="encabezado__titulo">QuizQuest</h1>
        </a>
        {{/isOnRankingView}}
        {{#isOnPartidaView}}
            <a href="/quizquest/lobbyusuario/get">
                <h1 class="encabezado__titulo">QuizQuest</h1>
            </a>
        {{/isOnPartidaView}}
        {{#isOnJuegoView}}
        <a>
            <h1 class="encabezado__titulo">QuizQuest</h1>
        </a>
        {{/isOnJuegoView}}
        
    </header>