@font-face {
    font-family: bebas;
    src: url(/quizquest/public/fuentes/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: opensans;
    src: url(/quizquest/public/fuentes/OpenSans-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: opensans;
    color: #fff;
}

body{
    display: grid;
    /* background-image: linear-gradient(to bottom, #00c6fb 0%, #005bea 100%); */
    background-image: url(/quizquest/public/imagenes/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "encabezado" "contenido" "pie";
}

/*ENCABEZADO*/
.encabezado{
    background-color: #fff;
    padding: 10px 20px;
    grid-area: encabezado;
}
.encabezado__titulo{
    font-family: bebas;
    background-image: linear-gradient(to top, #00c6fb 90%, #005bea 10%); /* Cambia los colores según lo desees */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.yeti__imagen{
    width: 100%;
    max-width: 480px;
    position: relative;
    bottom: 25px;
    z-index: -1;
    transition: 1s;
    filter: drop-shadow(1px 1px 20px #fff);
}
/*CONTENIDO*/
.contenido{
    grid-area: contenido;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
    gap: 20px;
}
.contenido__titulo{
    color: #F5F5F5;
    font-family: bebas;
    letter-spacing: 2px;
    font-size: 38px;
    text-shadow: 1px 1px 4px #fff;
}
.contenido__subtitulo{
    font-size: 18px;
    text-align: center;
}
.contenido__texto{
    color: #F5F5F5;
    font-family: opensans;
    font-weight: 700;
    width: 90%; 
    text-align: center;
    max-width: 600px;
}
.wave{
    background-image: url(/quizquest/public/imagenes/wave.svg);
    height: 80px;
    width: 100%;
    position: absolute;
    background-repeat:repeat-x;
}
.wave_abajo{
    bottom:0;
    left: 0;
}
.wave_arriba{
    top: 0;
    left: 0;
    transform: rotate(180deg)}
.menu{
}
.menu__titulo{
    font-size: 35px;
    text-align: center;
}
.menu__opcion{
    display: block;
    width: 200px;
    margin: 25px auto;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    height: 70px;
    border-radius: 10px;
    color: #303030;
    font-weight: bold;
    font-family: bebas;
    line-height: 70px;
    font-size: 22px;
    padding: 0px 20px;
    box-shadow: 0px 0px 7px #fff;
    transition: 500ms;
    cursor: pointer;
}
.menu__opcion:hover{
    background-color: #00c6fb;
    color: #fff;
}

/*PIE DE PAGINA*/
.pie__pagina{
    grid-area: pie;
    background-color: #fff;
    padding: 20px 20px;
}
.pie__titulo{
    color: #303030;
    font-family: bebas;
    letter-spacing: 1px;
    font-size: 35px;
}

.pie__subtitulo{
    margin-top: 15px;
    font-size: 20px;
}
.pie__integrantes{
    margin-top: 8px;
    list-style: none;
    margin-left: 4px;
}
.pie__integrantes li{
    color: #303030;
    font-family: opensans;
    font-weight: 400;
    font-size: 15px;
}

.pie__parrafo{
    color: #303030;
    font-family: opensans;
    font-weight: 400;
    font-size: 15px;
    margin-left: 4px;

}

/*Pop Ups*/
.popup{
    background-blend-mode: lighten;
    background: rgba(255, 255, 2555, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 15px;
}
.popup__titulo{
    font-family: bebas;
    font-size: 40px;
    background-image: linear-gradient(to top, #00c6fb 100%, #005bea 10%); /* Cambia los colores según lo desees */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    text-align: center;
}
.popup__subtitulo{
    font-size: 30px;
}


.popup__parrafo{
    color:#303030;
    font-size: 20px;
    font-family: opensans;
    text-align: center;
    font-weight: 400;
    line-height: 33px;
}
.popup__boton{
    background-image: linear-gradient(to top, #00c6fb 100%, #005bea 10%); 
    text-decoration: none;
    font-family: bebas;
    padding: 10px 40px;
    font-size: 30px;
    margin-top: 50px;
}

.popup__cerrar{
    background-color: #00c6fb;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}


/* Formulario CSS */
.popup__formulario{
    background-color: #00c6fb;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    align-items: center;
    gap: 10px;
    padding: 20px 0px;
}
.popup__formulario .popup__subtitulo{
    color: #fff;
    font-family: bebas;
    font-size: 35px;
    letter-spacing: 2px;
}
.popup__formulario label{
    width: 80%;
    font-family: opensans;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}
.popup__formulario input, select{
    width: 80%;
    height: 30px;
    border: none;
    color: #303030;
}
.popup__formulario select option{
    color: #303030;
}

.boton__formulario{
    border: none;
    background-image:none;
    background-color: #fff;
    color: #00c6fb;
    width: 80%;
}
/*Ventana crear partida*/
#crear__partida__ventana{
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
}

#crear__pregunta__ventana{
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
}
@media (min-width:950px) {
    .encabezado__titulo{
        font-size: 45px;
    }
    .yeti__imagen{
        grid-row: 4/8;
        grid-column: 1/4;
    }
    /*CONTENIDO*/
    .contenido{
        grid-area: contenido;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 60px 10px 150px 100px;
        position: relative;    
        padding: 70px 40px;
        gap: 8px;
    }
    .contenido__titulo{
        grid-row: 1/2;
        grid-column: 1/4;
    }
    .contenido__subtitulo{
        text-align: left;
        grid-row: 2/3;
        grid-column: 1/4;
    }
    .contenido__texto{
        grid-row: 3/4;
        grid-column: 1/4;
        text-align: left;
        font-size: 20px;
    }
    .menu{
        grid-column: 4/8;
        grid-row: 1/8;
        padding: 80px 0px;
        background-color: #00c5fbc9;
        width: 70%;
        margin: 0 auto;
        border-radius: 20px;
        border: 4px ridge #fff;
        box-shadow: 0px 0px 10px #fff;
    }
    .menu__titulo{
        font-size: 45px;
        margin-bottom: 50px;
    }
    .menu__opcion{
        width: 300px;
    }
    /*PIE DE PAGINA*/
    .pie__pagina{
        padding: 20px 70px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
    .pie__titulo{
        font-size: 45px;
        grid-area: 1/2;
        grid-row: 1/2;
    }

    .pie__subtitulo{
        font-size: 25px;
    }
    .pie__integrantes{
        grid-area: 1/2;
        grid-row: 1/2;
    }
    .pie__integrantes li{
        margin-top: 2px;
        font-size: 18px;
    }

    .pie__parrafo{
        font-size: 18px;
    }
}