@font-face {
    font-family: bebas;
    src: url(/quizquest/public/fuentes/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: opensans;
    src: url(/quizquest/public/fuentes/OpenSans-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: opensans;
    color: #fff;
}

body{
    display: grid;
    background-image: linear-gradient(to bottom, #00c6fb 0%, #005bea 100%);
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "encabezado" "contenido" "pie";
}

/*ENCABEZADO*/
.encabezado{
    background-color: #fff;
    padding: 10px 20px;
    grid-area: encabezado;
}
.encabezado__titulo{
    font-family: bebas;
    background-image: linear-gradient(to top, #00c6fb 90%, #005bea 10%); /* Cambia los colores según lo desees */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.yeti__imagen{
    width: 100%;
    max-width: 480px;
    position: relative;
    bottom: 25px;
    z-index: -1;
    transition: 1s;
}
/*CONTENIDO*/
.contenido{
    grid-area: contenido;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
    gap: 20px;
}
.contenido__titulo{
    color: #F5F5F5;
    font-family: bebas;
    letter-spacing: 2px;
    font-size: 38px;
}
.contenido__subtitulo{
    font-size: 18px;
    text-align: center;
}
.contenido__texto{
    color: #F5F5F5;
    font-family: opensans;
    font-weight: 700;
    width: 90%; 
    text-align: center;
    max-width: 600px;
}
.wave{
    background-image: url(/quizquest/public/imagenes/wave.svg);
    height: 80px;
    width: 100%;
    position: absolute;
    background-repeat:repeat-x;
}
.wave_abajo{
    bottom:0;
    left: 0;
}
.wave_arriba{
    top: 0;
    left: 0;
    transform: rotate(180deg)}
.menu{
}
.menu__titulo{
    font-size: 35px;
    text-align: center;
}
.menu__opcion{
    display: block;
    width: 200px;
    margin: 25px auto;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    height: 70px;
    border-radius: 10px;
    color: #303030;
    font-weight: bold;
    font-family: bebas;
    line-height: 70px;
    font-size: 22px;
    padding: 0px 20px;
    box-shadow: 0px 0px 7px #fff;
    
}
/*PIE DE PAGINA*/
.pie__pagina{
    grid-area: pie;
    background-color: #fff;
    padding: 20px 20px;
}
.pie__titulo{
    color: #303030;
    font-family: bebas;
    letter-spacing: 1px;
    font-size: 35px;
}

.pie__subtitulo{
    margin-top: 15px;
    font-size: 20px;
}
.pie__integrantes{
    margin-top: 8px;
    list-style: none;
    margin-left: 4px;
}
.pie__integrantes li{
    color: #303030;
    font-family: opensans;
    font-weight: 400;
    font-size: 15px;
}

.pie__parrafo{
    color: #303030;
    font-family: opensans;
    font-weight: 400;
    font-size: 15px;
    margin-left: 4px;

}

@media (min-width:950px) {
    .encabezado__titulo{
        font-size: 45px;
    }
    .yeti__imagen{
        grid-row: 4/8;
        grid-column: 1/4;
    }
    /*CONTENIDO*/
    .contenido{
        grid-area: contenido;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 60px 10px 150px 100px;
        position: relative;    
        padding: 70px 40px;
        gap: 8px;
    }
    .contenido__titulo{
        grid-row: 1/2;
        grid-column: 1/4;
    }
    .contenido__subtitulo{
        text-align: left;
        grid-row: 2/3;
        grid-column: 1/4;
    }
    .contenido__texto{
        grid-row: 3/4;
        grid-column: 1/4;
        text-align: left;
        font-size: 20px;
    }
    .menu{
        grid-column: 4/8;
        grid-row: 1/8;
    }
    .menu__titulo{
        font-size: 45px;
        margin-bottom: 50px;
    }
    .menu__opcion{
        width: 300px;
    }
    /*PIE DE PAGINA*/
    .pie__pagina{
        padding: 20px 70px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
    .pie__titulo{
        font-size: 45px;
        grid-area: 1/2;
        grid-row: 1/2;
    }

    .pie__subtitulo{
        font-size: 25px;
    }
    .pie__integrantes{
        grid-area: 1/2;
        grid-row: 1/2;
    }
    .pie__integrantes li{
        margin-top: 2px;
        font-size: 18px;
    }

    .pie__parrafo{
        font-size: 18px;
    }
}