@font-face {
    font-family: bebas;
    src: url(/quizquest/public/fuentes/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: opensans;
    src: url(/quizquest/public/fuentes/OpenSans-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: opensans;
    color: #fff;
    scrollbar-color: #f45d22 #581845;
}

body{
    display: grid;
    background-image: linear-gradient(to bottom, #fcba03 0%, #b700ea 100%);
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "encabezado" "contenido" "pie";
}

/*ENCABEZADO*/
.encabezado{
    background-color: #581845 ;
    padding: 10px 20px;
    grid-area: encabezado;
}
.encabezado__titulo{
    font-family: bebas;
    background-image: linear-gradient(to top, #f45d22 90%, #005bea 10%); /* Cambia los colores según lo desees */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.yeti__imagen{
    width: 100%;
    max-width: 480px;
    position: relative;
    bottom: 25px;
    z-index: -1;
    transition: 1s;
}
/*CONTENIDO*/
.contenido{
    grid-area: contenido;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
    gap: 20px;
    padding: 200px 0px;
}
.contenido__titulo{
    color: #581845;
    font-family: bebas;
    letter-spacing: 2px;
    font-size: 38px;
}
.contenido__subtitulo{
    font-size: 18px;
    text-align: center;
    font-family: bebas;
}
.contenido__texto{
    color: #581845;
    font-family: opensans;
    font-weight: 700;
    width: 90%;
    text-align: center;
    max-width: 600px;
}
.wave{
    background-image: url(/quizquest/public/imagenes/wave2.svg);
    height: 80px;
    width: 100%;
    position: absolute;
    background-repeat:repeat-x;
}
.wave_abajo{
    bottom:0;
    left: 0;
}
.wave_arriba{
    top: 0;
    left: 0;
    transform: rotate(180deg)
}

.tabla{
    background-color: #581845;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    max-width: 900px;
    box-shadow: 0px 0px 10px #f44122;

}
.tabla td, th{
    padding: 4px;
}
.tabla__header tr th{
    font-family: bebas;
    letter-spacing: 1px;
    font-size: 20px;
    color: #f45d22;
}
.tabla__cuerpo tr td{
    padding: 10px 0px;
}
.tabla__header{
    border-bottom: 1px solid #f45d22;
}
.tabla__cuerpo tr:nth-child(odd){
    background-color: #6e2057;
}
.tabla__cuerpo tr:nth-child(even){
    background-color: #581845;
}

.tabla__icono i{
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}

.tabla__icono .fa-pen{
    background-color: #fcba03;
}

.tabla__icono .fa-trash{
    background-color: #f44122;
}


/*PIE DE PAGINA*/
.pie__pagina{
    grid-area: pie;
    background-color: #581845;
    padding: 20px 20px;
}
.pie__titulo{
    color: #f45d22;
    font-family: bebas;
    letter-spacing: 1px;
    font-size: 35px;
}

.pie__subtitulo{
    margin-top: 15px;
    font-size: 20px;
}
.pie__integrantes{
    margin-top: 8px;
    list-style: none;
    margin-left: 4px;
}
.pie__integrantes li{
    color: #f45d22;
    font-family: opensans;
    font-weight: 400;
    font-size: 15px;
}

.pie__parrafo{
    color: #f45d22;
    font-family: opensans;
    font-weight: 400;
    font-size: 15px;
    margin-left: 4px;

}


@media (min-width:950px) {
    .encabezado__titulo{
        font-size: 45px;
    }
    .tabla{
        font-size: 18px;
    }
    .tabla__header tr th{
        font-size: 25px;
    }
    /*PIE DE PAGINA*/
    .pie__pagina{
        padding: 20px 70px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
    .pie__titulo{
        font-size: 45px;
        grid-area: 1/2;
        grid-row: 1/2;
    }

    .pie__subtitulo{
        font-size: 25px;
    }
    .pie__integrantes{
        grid-area: 1/2;
        grid-row: 1/2;
    }
    .pie__integrantes li{
        margin-top: 2px;
        font-size: 18px;
    }

    .pie__parrafo{
        font-size: 18px;
    }
}