<main class="contenido">
    <h2 class="contenido__titulo">Ingresar</h2>
    <form class="formulario" action="ingreso.php" method="POST">
        <div class="formulario__grupo">
            <label for="nombre_usuario">Nombre de usuario:</label>
            <input type="text" id="nombre_usuario" name="nombre_usuario" required>
        </div>

        <div class="formulario__grupo">
            <label for="contrasenia">Año de nacimiento:</label>
            <input type="text" id="contrasenia" name="contrasenia" required>
        </div>

        <div class="formulario__grupo">
            <button type="submit" class="boton">Iniciar</button>
        </div>
    </form>
</main>
