<main class="main">
    <form class="formulario" action="/quizquest/login/verifyLogin" method="POST">
        <h1 class="formulario__titulo__principal">Quizquest</h1>

        <h2 class="formulario__titulo">Login</h2>
        <p class="formulario__parrafo">Ingrese sus credenciales</p>
        <div class="formulario__grupo">
            <input type="email" id="nombre_usuario" name="correo_electronico" placeholder="Correo Electronico" required>
        </div>

        <div class="formulario__grupo">
            <input type="password" id="contrasenia" name="contrasena" placeholder="Contraseña" required>
        </div>

        <div class="formulario__grupo">
            <button type="submit" class="boton">Login</button>
            <a href="/quizquest/registro/get" class="boton boton_registro">Registrar</a>
        </div>
        <a class="formulario__registro" href="/quizquest/registro/get">Si no tienes una cuenta. Registrate</a>
    </form>
</main>