<main class="contenido">
    <div class="wave wave_arriba"></div>

{{! 
    <div class="burbuja">
        <a href="../../Vistas_Preguntados/html/lobby_usuario.html" class="volver">volver</a>
    </div> }}

    <h1 class="contenido__titulo">Perfil de Usuario</h1>
    <form class="formulario" action="/quizquest/perfil/actualizarPerfil" method="POST">

        <div class="formulario_perfil">
            {{#usuarioLogeado.imagen}}
                <img src="{{usuarioLogeado.imagen}}" height="225" width="225"/>
            {{/usuarioLogeado.imagen}}
            {{^usuarioLogeado.imagen}}
                <img src="/quizquest/public/imagenes/perfil.png" height="225" width="225"/>
            {{/usuarioLogeado.imagen}}
        </div>

        <div class="formulario__grupo">
            <label for="nombre_completo" class="formulario__label">Nombre completo:</label>
            <input type="text" id="nombre_completo" class="formulario__input" name="nombreCompleto" value="{{usuarioLogeado.nombreCompleto}}">
        </div>
        <div class="formulario__grupo">
            <label for="anio_nacimiento" class="formulario__label">Año de nacimiento:</label>
            <input type="date" id="anio_nacimiento" class="formulario__input" name="fechaNacimiento" value="{{usuarioLogeado.fechaNacimiento}}">
        </div>
        <div class="formulario__grupo">
            <label for="sexo" class="formulario__label">Sexo:</label>
            <input type="text" id="sexo" class="formulario__input" name="sexo" value="{{usuarioLogeado.Sexo}}">
        </div>
        <div class="formulario__grupo">
            <label for="pais_ciudad" class="formulario__label">País:</label>
            <input type="text" id="pais" class="formulario__input" name="pais" value="{{usuarioLogeado.pais}}">
        </div>
       <div class="formulario__grupo">
            <label for="pais_ciudad" class="formulario__label">Ciudad:</label>
            <input type="text" id="ciudad" class="formulario__input" name="ciudad" value="{{usuarioLogeado.ciudad}}">
        </div>
        <div id="map"></div>
        <div class="formulario__grupo">
            <label for="correo" class="formulario__label">Correo electrónico:</label>
            <input type="email" id="correo" class="formulario__input" name="correoelectronico" value="{{usuarioLogeado.CorreoElectronico}}">
        </div>
        <div class="formulario__grupo">
            <label for="contrasenia" class="formulario__label">Contraseña:</label>
            <input type="password" id="contrasenia" class="formulario__input" name="contrasena" value="{{usuarioLogeado.contrasena}}">
        </div>
        <div class="formulario__grupo">
            <label for="nombre_usuario" class="formulario__label">Nombre de usuario:</label>
            <input type="text" id="nombre_usuario" class="formulario__input" name="nombreUsuario" value="{{usuarioLogeado.nombrerUsuario}}">
        </div>

        <div class="formulario__grupo">
         <label class="formulario__label">Comparte tu perfil:</label>
            <img src="{{fullPath}}" alt="qr">
        </div>

        <div class="formulario__grupo">
            <button id="btnActualizarPerfil" class="boton" type="submit">Actualizar Perfil</button>
        </div>
    </form>
    <div class="wave wave_abajo"></div>
</main>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
<script>


setCityAndCountry("{{usuarioLogeado.pais}}", "{{usuarioLogeado.ciudad}}");

var map = L.map('map').setView([0,0], 10);
var circle = L.circle([0,0], {
    color: '#00c6fb',
    fillColor: '#00c6fb',
    fillOpacity: 0.5,
    radius: 5000
}).addTo(map);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '© OpenStreetMap contributors'
}).addTo(map);


// Función para obtener ciudad y país
function getCityAndCountry(lat, lon) {
  let url = `https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${lat}&lon=${lon}`;
    
  if(circle)
    map.removeLayer(circle);

  circle = L.circle([lat,lon], {
    color: '#00c6fb',
    fillColor: '#00c6fb',
    fillOpacity: 0.5,
    radius: 5000
    }).addTo(map);

  fetch(url)
    .then(response => response.json())
    .then(data => {
      let city = data.address.city || data.address.town || data.address.village;
      let country = data.address.country;

      document.getElementById("pais").value= (country==undefined) ? "" : country;
      document.getElementById("ciudad").value= (city==undefined) ? "" :city;

    })
    .catch(error => console.error('Error:', error));    
}


function setCityAndCountry(pais, ciudad){
  let url = `https://nominatim.openstreetmap.org/search?q=${pais}+${ciudad}&format=json&limit=1`;

  fetch(url)
  .then(response=> response.json())
  .then(data =>{
     let longitud = data[0].lon;
     let latitud = data[0].lat;
     if(circle)
        map.removeLayer(circle);
            
     map.setView([latitud, longitud], 10);
     circle = L.circle([latitud,longitud], {
        color: '#00c6fb',
        fillColor: '#00c6fb',
        fillOpacity: 0.5,
        radius: 5000
        }).addTo(map);
  })
  .catch(error => console.error('Error:', error));

}

// Evento de clic en el mapa para obtener ciudad y país
map.on('click', function(e) {
  let lat = e.latlng.lat;
  let lon = e.latlng.lng;
  getCityAndCountry(lat, lon);
});

document.getElementById("ciudad").addEventListener("change", ()=>{
    setCityAndCountry(document.getElementById("pais").value, document.getElementById("ciudad").value);
});


document.getElementById("pais").addEventListener("change", ()=>{
    setCityAndCountry(document.getElementById("pais").value, document.getElementById("ciudad").value);    
});
</script>