<main class="contenido">
    <div class="wave wave_arriba"></div>


    <div class="burbuja">
        <a href="../../Vistas_Preguntados/html/lobby_usuario.html" class="volver">volver</a>
    </div>


    <h1 class="contenido__titulo">Perfil de Usuario</h1>
    <div class="formulario">

        <div class="formulario_perfil">
            <img src="../public/imagenes/perfil.png" height="225" width="225"/>

        </div>

        <div class="formulario__grupo">
            <label for="nombre_completo" class="formulario__label">Nombre completo:</label>
            <input type="text" id="nombre_completo" class="formulario__input" value="John Doe">
        </div>
        <div class="formulario__grupo">
            <label for="anio_nacimiento" class="formulario__label">Año de nacimiento:</label>
            <input type="text" id="anio_nacimiento" class="formulario__input" value="1990">
        </div>
        <div class="formulario__grupo">
            <label for="sexo" class="formulario__label">Sexo:</label>
            <input type="text" id="sexo" class="formulario__input" value="Masculino">
        </div>
        <div class="formulario__grupo">
            <label for="pais_ciudad" class="formulario__label">País y ciudad:</label>
            <input type="text" id="pais_ciudad" class="formulario__input" value="México, Ciudad de México">
        </div>
        <div class="formulario__grupo">
            <label for="correo" class="formulario__label">Correo electrónico:</label>
            <input type="email" id="correo" class="formulario__input" value="john.doe@example.com">
        </div>
        <div class="formulario__grupo">
            <label for="contrasenia" class="formulario__label">Contraseña:</label>
            <input type="password" id="contrasenia" class="formulario__input" value="••••••••">
        </div>
        <div class="formulario__grupo">
            <label for="nombre_usuario" class="formulario__label">Nombre de usuario:</label>
            <input type="text" id="nombre_usuario" class="formulario__input" value="johnny_d">
        </div>
    </div>
    <div class="wave wave_abajo"></div>
</main>