<main class="contenido">
    <div class="wave wave_arriba"></div>

    <h2 class="contenido__titulo">Crea tu cuenta</h2>
    <form class="formulario" action="/quizquest/registro/validate" method="POST">
        <div class="formulario__grupo">
            <label for="nombre">Nombre completo:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <div class="formulario__grupo">
            <label for="nacimiento">Año de nacimiento:</label>
            <input type="date" id="nacimiento" name="nacimiento" required>
        </div>

        <div class="formulario__grupo">
            <label for="sexo">Sexo:</label>
            <select id="sexo" name="sexo" required>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
        </div>

        <div class="formulario__grupo">
            <label for="pais">País:</label>
            <input type="text" id="pais" name="pais" required>
        </div>

        <div class="formulario__grupo">
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" required>
        </div>

        <div class="formulario__grupo">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="formulario__grupo">
            <label for="contrasenia">Contraseña:</label>
            <input type="password" id="contrasenia" name="contrasenia" required>
        </div>

        <div class="formulario__grupo">
            <label for="repetir_contrasenia">Repetir contraseña:</label>
            <input type="password" id="repetir_contrasenia" name="repetir_contrasenia" required>
        </div>

        <div class="formulario__grupo">
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="formulario__grupo">
            <label for="foto">Foto de perfil:</label>
            <input type="file" id="foto" name="foto" accept="image/*">
        </div>

        <div class="formulario__grupo">
            <button type="submit" class="boton">Registrar</button>
        </div>
    </form>
    <div class="wave wave_abajo"></div>

</main>