<style>
    *{
        font-family: bebas;
    }

    .titulo__principal{
        background-color:#00c6fb;
        color:#ffffff;
        font-family: bebas;
        text-align : center;
        letter-spacing:1px;
        height: 80px;
        line-height:60px;
    }
</style>

<h1 class="titulo__principal">QuizQuest</h1>

