<main class="contenido">
    <div class="wave wave_arriba"></div>
    <h2 class="contenido__titulo">Los mejores jugadores!</h2>
    <table class="tabla tabla__jugadores">
        <thead class="tabla__cabecera">
            <tr>
                <th>TOP</th>
                <th>NOMBRE</th>
                <th>VICTORIAS</th>
            </tr>
        </thead>
        <tbody class="tabla__contenedor">
            <tr>
                <td>1</td>
                <td>ElMaster</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>ElMaster</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>ElMaster</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>ElMaster</td>
                <td>1000</td>
            </tr>

            <tr>
                <td>1</td>
                <td>ElMaster</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>ElMaster</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>ElMaster</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>ElMaster</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>ElMaster</td>
                <td>1000</td>
            </tr>
            <tr class="jugador__tu">
                <td>400</td>
                <td>Tu</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>

    <h2 class="contenido__titulo">Partidas Jugadas</h2>
    <table class="tabla tabla__jugadores">
        <thead class="tabla__cabecera">
            <tr>
                <th>PARTIDA</th>
                <th>RESULTADO</th>
            </tr>
        </thead>
        <tbody class="tabla__contenedor">
            <tr>
                <td>LaRePatida</td>
                <td>Ganada</td>
            </tr>
            <tr>
                <td>Partidazo</td>
                <td>Perdida</td>
            </tr>
        </tbody>
    </table>
    <div class="wave wave_abajo"></div>
</main>