<main class="contenido">
    <div class="wave wave_arriba"></div>
        {{#usuario}}
        <div class="perfil">
            <div>
                <h2 class="contenido__titulo perfil__titulo">{{nombrerUsuario}}</h2>
                <h3 class="contenido__titulo perfil__subtitulo">Ranking #4</h3>
                {{#imagen}}
                    <img src="{{imagen}}" alt="perfil" class="perfil__imagen">
                {{/imagen}}
                {{^imagen}}
                    <img src="/quizquest/public/imagenes/perfil.png" alt="perfil" class="perfil__imagen">
                {{/imagen}}
            </div>
            <div>
                <p class="perfil__parrafo">Nombre completo: <span>{{nombreCompleto}}</span></p>
                <p class="perfil__parrafo">Pais y Ciudad: <span>{{pais}}, {{ciudad}}</span></p>
                <div id="map"></div>
                <p class="perfil__parrafo">Max. Puntaje: <span>1000 puntos</span></p>
                <p class="perfil__parrafo">Partidas Recientes:</p>
                <table class="perfil__tabla">
                      <thead>
                            <tr>
                                <th>Partida</th>
                                <th>Resultado</th>
                            </tr>
                        </thead>
                {{^partidaRecientes}}
                    <div class="perfil__parrafo">No jugo ninguna partida hasta el momento</div>
                {{/partidaRecientes}}
                 <tbody>
                {{#partidaRecientes}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{puntaje}}</td>
                    </tr>
                            
                {{/partidaRecientes}}
                 </tbody>
              </table>

            </div>
        </div>
        {{/usuario}}
    <div class="wave wave_abajo"></div>
</main>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
<script>
setCityAndCountry("Argentina", "Buenos Aires");

var map = L.map('map').setView([0,0], 10);
var circle = L.circle([0,0], {
    color: '#00c6fb',
    fillColor: '#00c6fb',
    fillOpacity: 0.5,
    radius: 5000
}).addTo(map);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '© OpenStreetMap contributors'
}).addTo(map);


function setCityAndCountry(pais, ciudad){
  let url = `https://nominatim.openstreetmap.org/search?q=${pais}+${ciudad}&format=json&limit=1`;

  fetch(url)
  .then(response=> response.json())
  .then(data =>{
     let longitud = data[0].lon;
     let latitud = data[0].lat;
     if(circle)
        map.removeLayer(circle);
            
     map.setView([latitud, longitud], 10);
     circle = L.circle([latitud,longitud], {
        color: '#00c6fb',
        fillColor: '#00c6fb',
        fillOpacity: 0.5,
        radius: 5000
        }).addTo(map);
  })
  .catch(error => console.error('Error:', error));
}
</script>