<main class="contenido">
    <div class="wave wave_arriba"></div>
        {{#hayPopUpGanador}}
            <div class="popup victoria">
                <h2 class="popup__titulo">¡Bien Jugador vas joya!</h2>
                <p class="popup__parrafo">Eres el campeón indiscutible del trivia de preguntas. Tu conocimiento, habilidad y astucia te han llevado a la victoria. ¡Celebra tu triunfo y disfruta del reconocimiento como el mejor jugador de trivia! ¡Felicidades por tu logro!</p>
                {{#partidaActual}}
                    <p class="popup__parrafo">Tu puntaje fue de {{puntaje}}</p>
                {{/partidaActual}}
                <a href="/quizquest/juego/goToLobby" class="popup__boton">Continuar</a>
            </div>
        {{/hayPopUpGanador}}

        {{^hayPopUpGanador}}
            <div class="popup derrota">
                <h2 class="popup__titulo">¡Aplausos por tu esfuerzo, Jugador 1!</h2>
                <p class="popup__parrafo">Si bien esta vez no te llevas la victoria, tu dedicación y entusiasmo son admirables. Sigue desafiando tu mente y participando con valentía en futuras rondas. Recuerda, cada juego es una oportunidad para aprender y mejorar. ¡Gracias por tu participación y esperamos verte de nuevo en la próxima partida!</p>
                {{#partidaActual}}
                    <p class="popup__parrafo">Tu puntaje fue de {{puntaje}}</p>
                {{/partidaActual}}
                <a href="/quizquest/juego/goToLobby" class="popup__boton">Continuar</a>
            </div>
        {{/hayPopUpGanador}}
    </div>
    <div class="wave wave_abajo"></div>
</main>
