{{#preguntaActual}}
<main class="contenido">
    <div class="wave wave_arriba"></div>
    <div class="contenedor" style="background-color:{{color}}; box-shadow: 0px 0px 15px {{color}};">
        <div class="contenedor__titulo">{{categoria}}</div>
        <div class="contenedor__pregunta">
            <a href="#" class="contenedor__reportar">
                <i class="fa-solid fa-flag"></i>
            </a>

            <p>{{descripcion}}</p>
        </div>
        {{#respuestasActuales}}
            <a href="" class="contenedor__respuesta">A) {{descripcion_respuesta}}</a>
        {{/respuestasActuales}}
    </div>
    <div class="wave wave_abajo"></div>
</main>
{{/preguntaActual}}

<!-- PopUps -->
<div class="popup victoria">
    <h2 class="popup__titulo">¡Enhorabuena, Jugador 1! </h2>
    <p class="popup__parrafo">Eres el campeón indiscutible del trivia de preguntas. Tu conocimiento, habilidad y astucia te han llevado a la victoria. ¡Celebra tu triunfo y disfruta del reconocimiento como el mejor jugador de trivia! ¡Felicidades por tu logro!</p>
    <a href="#" class="popup__boton">Continuar</a>
</div>

<div class="popup derrota">
    <h2 class="popup__titulo">¡Aplausos por tu esfuerzo, Jugador 1!</h2>
    <p class="popup__parrafo">Si bien esta vez no te llevas la victoria, tu dedicación y entusiasmo son admirables. Sigue desafiando tu mente y participando con valentía en futuras rondas. Recuerda, cada juego es una oportunidad para aprender y mejorar. ¡Gracias por tu participación y esperamos verte de nuevo en la próxima partida!</p>
    <a href="#" class="popup__boton">Continuar</a>
</div>