<main class="contenido">
    <div class="wave wave_arriba"></div>
        <h2 class="contenido__titulo">Editar pregunta</h2>

        <form class="formulario">
            <label for="" id="pregunta">Pregunta</label>
            <input type ="text" value="Pregunta 1">
            <br>
            <label for="">Respuesta 1</label>
            <input type ="text" value="Respuesta 1">
            
            <label for="">Respuesta 2</label>
            <input type ="text" value="Respuesta 2">
            
            <label for="">Respuesta 3</label>
            <input type ="text" value="Respuesta 3"> 
            
            <label for="">Respuesta 4</label>
            <input type ="text" value="Respuesta 4">

            <button type="submit" id="editar__boton">Editar</button>
        </form>
        <div class="contenido__box">
            <h2 class="contenido__subtitulo">Dificultad</h2>
            <div id ="grafico" ></div>  
        </div>
        <div class="contenido__box">
            <h2 class="contenido__subtitulo">Cantidad Dadas</h2>
            <p class="contenido__cantidad">140</p>
        </div>
        <div class="contenido__box">
            <h2 class="contenido__subtitulo">Cantidad Acertadas</h2>
            <p class="contenido__cantidad">140</p>
        </div>
    <div class="wave wave_abajo"></div>
</main>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart(){
    var data = google.visualization.arrayToDataTable([
          ["Grafico", "Grafico"],
          ['Acertadas', 100],
          ['No Acertadas', 120]
        ]);

        var options = {
          pieHole: 0.3,
          colors: ['#e0440e', '#e6693e'],
          pieSliceTextStyle: {
            color: 'white' // Cambia el color del texto dentro de las porciones del gráfico
            },
            legend: {
            textStyle: {
                color: 'white', // Cambia el color del texto en la leyenda
                fontSize: 10 ,  // Puedes cambiar el tamaño de la fuente también
            }
          },
          width:400,
          height:300
        };

        var chart = new google.visualization.PieChart(document.getElementById('grafico'));
        chart.draw(data, options);
  }
</script>