<main class="contenido">
    <div class="wave wave_arriba"></div>
    <h2 class="contenido__titulo">¡¡Hola {{usuarioLogeado.nombrerUsuario}}!!</h2>
    
    {{#usuarioRanking}}
        <h3 class="contenido__titulo contenido__subtitulo">Hoy te encuentras en el ranking #{{top}}</h3>
    {{/usuarioRanking}}

    <p class="contenido__texto">"¡Bienvenido a QuizQuest, donde el conocimiento es la clave del éxito! Responde preguntas de múltiples categorías y demuestra que eres el maestro de la trivia."
    </p>
    
    <img src="/quizquest/public/imagenes/yeti.svg" alt="yeti" class="yeti__imagen">

    <div class="menu">
        <h3 class="contenido__titulo menu__titulo">Seleccione una opcion</h3>
        <a class="menu__opcion" id="abrir__crear__ventana">Crear Partida</a>
        <a class="menu__opcion" id="abrir__pregunta__ventana">Sugerir Pregunta</a>
        <a class="menu__opcion" id="ir__ranking" href="/quizquest/ranking/get">Ver Ranking</a>
        <a class="menu__opcion" id="ir__ranking" href="/quizquest/perfil/get">Ver Perfil</a>
        <a class="menu__opcion" id="salir" href="/quizquest/lobbyusuario/exit">Salir</a>
    </div>
    <div class="wave wave_abajo"></div>
</main>

<!-- PopUps -->
<div class="popup crear__partida" id="crear__partida__ventana">
    <a href="#" class="popup__button popup__cerrar" id="cerrar__crear__ventana"><i class="fa-solid fa-xmark"></i></a>
    <h2 class="popup__titulo">Crea tu partida!</h2>
    <form class="popup__formulario" action="/quizquest/lobbyusuario/createNewPartida" method="POST">
        <h3 class="popup__subtitulo">Nueva Partida</h3>
        <label class="nombre">Nombre de la partida</label>
        <input type="text" name="nombre" id="nombre">
        <button type="submit" class="popup__boton boton__formulario" id="crear__partida__boton">Crear</button>
    </form>
</div>

<div class="popup crear__pregunta" id="crear__pregunta__ventana">
    <a href="#" class="popup__button popup__cerrar" id="cerrar__pregunta__ventana"><i class="fa-solid fa-xmark"></i></a>
    <h2 class="popup__titulo">Sugiere una pregunta!</h2>
    <form class="popup__formulario" action="/quizquest/lobbyusuario/suggestNewQuestion" method="POST">
        <h3 class="popup__subtitulo">Nueva pregunta</h3>
        <label>Pregunta</label>
        <input type="text" name="descripcionPregunta" id="descripcionPregunta" required>
        <label>Tipo de pregunta</label>
        <select name="preguntaCategoriaId" required>
                <option value="1">Cultura</option>
                <option value="2">Ciencia</option>
                <option value="3">Entretenimiento</option>
                <option value="4">Deportes</option>
                <option value="5">Geografia</option>
                <option value="6">Historia</option>        
       </select>

       <label>Cantidad de Respuestas</label>
       <select id="cantidad_preguntas" name="cantidadPreguntas" required>
            <option value="2">2</option>
            <option value="3">3</option>                     
            <option value="4">4</option>
       </select>

       <label>Posibles respuestas</label>
       <div id="posibles_respuestas">
       </div>
        <button type="submit" class="popup__boton boton__formulario">Sugerir Pregunta</button>
    </form>
</div>
<script src="/quizquest/public/js/main.js" type="module"></script>
<script src="/quizquest/public/js/cantidad_preguntas.js"></script>
<script src="/quizquest/public/js/animacion_yeti.js"></script>
