<main class="contenido">
    <div class="wave wave_arriba"></div>
        <h2 class="contenido__titulo">Gestor de preguntas</h2>
        <table class="tabla">
            <thead class="tabla__header">
                <tr>
                    <th>Pregunta</th>
                    <th>Editar</th>
                    <th>Eliminar</th>    
                </tr>
            </thead>

            <tbody class="tabla__cuerpo">
                <tr>
                    <td>Pregunta 1</td>
                    <td class="tabla__icono"><i class="fa-solid fa-pen"></i></td>
                    <td class="tabla__icono"><i class="fa-solid fa-trash"></i></td>
                </tr>
            </tbody>
        </table>
    <div class="wave wave_abajo"></div>
</main>
