<main class="contenido">
    <form action="/quizquest/registro/validateFormulario" class="validacion" method="POST">
        <h1 class="validacion__titulo">Ingrese el codigo de validacion</h1>    
        <div>
            <input type="text" name="numero1" id="" value="" maxlength="1">    
            <input type="text" name="numero2" id="" value="" maxlength="1">    
            <input type="text" name="numero3" id="" value="" maxlength="1">    
            <input type="text" name="numero4" id="" value="" maxlength="1">     
        </div>
        <button class="validacion__boton">Validar</button>  
    </form>
</main>