<main class="contenido">
    <div class="wave wave_arriba"></div>
    <h2 class="contenido__titulo">Los mejores jugadores!</h2>
    <table class="tabla tabla__jugadores">
        <thead class="tabla__cabecera">
            <tr>
                <th>TOP</th>
                <th>NOMBRE</th>
                <th>PUNTAJE MAXIMO</th>
            </tr>
        </thead>
        <tbody class="tabla__contenedor">

            {{#usuariosTop}}
                <tr>
                    <td>{{top}}</td>
                    <td><a href="/quizquest/ranking/showQrCode">{{nombrerUsuario}}</a></td>
                    <td>{{puntajeMaximo}}</td>
                </tr>
            {{/usuariosTop}}

            {{#usuarioDatos}}
                <tr class="jugador__tu">
                    <td>{{top}}</td>
                    <td>{{nombrerUsuario}}</td>
                    <td>{{puntajeMaximo}}</td>
                </tr>
            {{/usuarioDatos}}

        </tbody>
    </table>

    <h2 class="contenido__titulo">Partidas Jugadas</h2>
    <table class="tabla tabla__jugadores">
        <thead class="tabla__cabecera">
             <tr>
                <th>PARTIDA</th>
                <th>RESULTADO</th>
            </tr>
        </thead>
        <tbody class="tabla__contenedor">

        {{#obtenerPartidasJugador}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{puntaje}}</td>
            </tr>
        {{/obtenerPartidasJugador}}
        </tbody>
    </table>
    <div class="wave wave_abajo"></div>
</main>