<main class="contenido">
    <div class="wave wave_arriba"></div>
      <div class="container">
 <div class="div__formulario">
      <h2 class="contenido__titulo">Editar pregunta</h2>
        <form class="formulario">
            {{#pregunta}}
              <label for="pregunta" id="pregunta">Pregunta</label>
              <input type ="text" name="preguntaDescripcion" value="{{descripcion}}">
              <label>Categoria</label>
              <select name="categoriaPregunta">
                {{#categorias}}
                  <option value="{{id}}" {{#esSuCategoria}}selected{{/esSuCategoria}}>{{nombre}}</option>
                {{/categorias}}
              </select>
            {{/pregunta}}
            <br>
            {{#respuestas}}
              {{#esCorreto}}
                <label for="">Respuesta <input type="radio" name="esCorrecta" checked></label>
              {{/esCorreto}}
              {{^esCorreto}}
                <label for="">Respuesta <input type="radio" name="esCorrecta"></label>
              {{/esCorreto}}
              <input type ="text" value="{{descripcion_respuesta}}">
            {{/respuestas}}
            <button type="submit" id="editar__boton">Editar</button>
        </form>
      </div>
        {{#pregunta}}

        <div class="div__estadisticas">
          <div class="contenido__box">
              <h2 class="contenido__subtitulo">Dificultad</h2>
              <div id ="grafico" ></div>  
          </div>
          <div class="contenido__box">
              <h2 class="contenido__subtitulo">Cantidad Dadas</h2>
              <p class="contenido__cantidad">{{cantidad_dadas}}</p>
          </div>
          <div class="contenido__box">
              <h2 class="contenido__subtitulo">Cantidad Acertadas</h2>
              <p class="contenido__cantidad">{{acertadas}}</p>
          </div>
        </div>
      </div>
        {{/pregunta}}

    <div class="wave wave_abajo"></div>
</main>

<script src="https://www.gstatic.com/charts/loader.js"></script>
{{#pregunta}}
<script>
  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart(){
    var data = google.visualization.arrayToDataTable([
          ["Grafico", "Grafico"],
          ['Acertadas', {{acertadas}}],
          ['No Acertadas',{{no_acertadas}}]
        ]);

        var options = {
          pieHole: 0.3,
          colors: ['#e0440e', '#e6693e'],
          pieSliceTextStyle: {
            color: 'white' // Cambia el color del texto dentro de las porciones del gráfico
            },
            legend: {
            textStyle: {
                color: 'white', // Cambia el color del texto en la leyenda
                fontSize: 10 ,  // Puedes cambiar el tamaño de la fuente también
            }
          },
          width:400,
          height:300
        };

        var chart = new google.visualization.PieChart(document.getElementById('grafico'));
        chart.draw(data, options);
  }
</script>
{{/pregunta}}