<main class="contenido">
    <div class="wave wave_arriba"></div>
        <h2 class="contenido__titulo">Gestor de preguntas</h2>
    <div class="wave wave_abajo"></div>
</main>
<script src="/quizquest/public/js/animacion_yeti.js"></script>