<main class="contenido">
    <div class="wave wave_arriba"></div>
    <h2 class="contenido__titulo">¡¡Hola Editor!!</h2>
    <h3 class="contenido__titulo contenido__subtitulo">¿Preparado para trabajar?</h3>

    <p class="contenido__texto">"¡Bienvenido a QuizQuest Editor, donde el orden es la clave del éxito!
        Gestiona, Modifica y Aprueba las preguntas de múltiples usuarios para brindar diversión y conocimiento sin fin."
    </p>

    <img src="/quizquest/public/imagenes/yeti.svg" alt="yeti" class="yeti__imagen">

    <div class="menu">
        <h3 class="contenido__titulo menu__titulo">Seleccione una opcion</h3>
        <a class="menu__opcion" id="ir__gestor_preguntas" href="/quizquest/questionmanagement/get" >Gestionar</a>
        <a class="menu__opcion" id="abrir__sugerencias__ventana">Sugerencias</a>
        <a class="menu__opcion" id="abrir__reportes__ventana">Reportes</a>
        <a class="menu__opcion" id="salir" href="/quizquest/lobbyeditor/exit">Cerrar Sesion</a>
    </div>
    <div class="wave wave_abajo"></div>
</main>

<!-- PopUp sugerencias -->
<div class="popup ver__sugerencias" id="ver__sugerencias__ventana">
    <a href="#" class="popup__button popup__cerrar" id="cerrar__sugerencias__ventana"><i class="fa-solid fa-xmark"></i></a>
    <section class="popup__contenido">
        <h2 class="popup__titulo">Lista de Sugerencias</h2>
        <div class="scrollable-content">
        <ul class="sugerencias__lista">
            {{#sugeridasPreguntas}}
                <li><a href="#" class="sugerencia__item" data-opcion="opcion{{preguntaSugerida.pregunta_sugerida_id}}">Sugerencia de {{preguntaSugerida.nombrerUsuario}}</a></li>
                <div id="opcion{{preguntaSugerida.pregunta_sugerida_id}}" class="detalle__contenido">
                    <p>{{preguntaSugerida.pregunta_descripcion}}</p>
                    <div class="respuestas">
                        {{#respuestasSugeridas}}
                            {{#esCorrecto}}
                               <button class="but__ejemplo correcta">{{descripcion}}</button>
                            {{/esCorrecto}}
                            {{^esCorrecto}}
                                <button class="but__ejemplo">{{descripcion}}</button>
                            {{/esCorrecto}}
                        {{/respuestasSugeridas}}
                    </div>
                    <br>
                    <p>Tipo de pregunta: {{preguntaSugerida.categoria}}</p>
                    <div class="botones">
                        <a href="/quizquest/lobbyeditor/acceptSuggest?id={{preguntaSugerida.pregunta_sugerida_id}}" class="boton boton__sugerencia">Aceptar</a>
                        <a href="/quizquest/lobbyeditor/deleteSuggest?id={{preguntaSugerida.pregunta_sugerida_id}}" class="boton boton__sugerencia">Rechazar</a>
                    </div>
                </div>
            {{/sugeridasPreguntas}}
            </ul>
        </div>
    </section>
</div>

<!-- Popup reportes -->
<div class="popup ver__reportes" id="ver__reportes__ventana">
    <a href="#" class="popup__button popup__cerrar" id="cerrar__reportes__ventana"><i class="fa-solid fa-xmark"></i></a>
    <section class="popup__contenido">
        <h2 class="popup__titulo">Lista de Reportes</h2>
        <div class="scrollable-content">
            <ul class="reportes__lista">
                {{#reportesPreguntas}}    
                    <li><a href="#" class="reporte__item" data-opcion="reporte{{preguntaReportada.reportada_id}}">Reporte de {{preguntaReportada.nombrerUsuario}}</a></li>
                    <div id="reporte{{preguntaReportada.reportada_id}}" class="detalle__contenido">
                        <p>Motivo: {{preguntaReportada.razon}}</p>
                        <div class="muestra">
                            <p>{{preguntaReportada.descripcion}}</p>
                            <div class="respuestas">
                                {{#respuestasReportadas}}
                                    {{#esCorrecto}}
                                    <button class="but__ejemplo correcta">{{descripcion}}</button>
                                    {{/esCorrecto}}
                                    {{^esCorrecto}}
                                        <button class="but__ejemplo">{{descripcion}}</button>
                                    {{/esCorrecto}}
                                {{/respuestasReportadas}}
                            </div>
                        </div>
                        <div class="botones">
                            <a href="/quizquest/lobbyeditor/deleteReport?id={{preguntaReportada.reportada_id}}&idPregunta={{preguntaReportada.pregunta_reportada_id}}" class="boton boton__reportar">Eliminar</a>
                            <a href="/quizquest/lobbyeditor/cancelReport?idPregunta={{preguntaReportada.pregunta_reportada_id}}" class="boton boton__reportar">Mantener</a>
                        </div>
                    </div>        
                {{/reportesPreguntas}}
            </ul>
        </div>
    </section>
</div>

<script src="/quizquest/public/js/animacion_yeti.js"></script>
{{! <script src="/quizquest/public/js/main.js" type="module"></script> }}
<script src="/quizquest/public/js/mainEditor.js" type="module"></script>
