<main class="contenido">
    <div class="wave wave_arriba"></div>
    <h2 class="contenido__titulo">¡¡Hola Jugador 1!!</h2>
    <h3 class="contenido__titulo contenido__subtitulo">Hoy te encuentras en el ranking #1</h3>

    <p class="contenido__texto">"¡Bienvenido a QuizQuest, donde el conocimiento es la clave del éxito! Responde preguntas de múltiples categorías y demuestra que eres el maestro de la trivia."
    </p>
    
    <img src="/quizquest/public/imagenes/yeti.svg" alt="yeti" class="yeti__imagen">

    <div class="menu">
        <h3 class="contenido__titulo menu__titulo">Seleccione una opcion</h3>
        <a href="" class="menu__opcion">Crear Partida</a>
        <a href="" class="menu__opcion">Unirse a Partida</a>
        <a href="" class="menu__opcion">Ver Ranking</a>
    </div>
    <div class="wave wave_abajo"></div>
</main>
<script src="/quizquest/public/js/animacion_yeti.js"></script>
