<main class="contenido">
    <div class="wave wave_arriba"></div>
    <h2 class="contenido__titulo">¡¡Hola Jugador 1!!</h2>
    <h3 class="contenido__titulo contenido__subtitulo">Hoy te encuentras en el ranking #1</h3>

    <p class="contenido__texto">"¡Bienvenido a QuizQuest, donde el conocimiento es la clave del éxito! Responde preguntas de múltiples categorías y demuestra que eres el maestro de la trivia."
    </p>
    
    <img src="/quizquest/public/imagenes/yeti.svg" alt="yeti" class="yeti__imagen">

    <div class="menu">
        <h3 class="contenido__titulo menu__titulo">Seleccione una opcion</h3>
        <a class="menu__opcion" id="abrir__crear__ventana">Crear Partida</a>
        <a class="menu__opcion" id="abrir__pregunta__ventana">Crear Pregunta</a>
        <a class="menu__opcion" id="ir__ranking" href="/quizquest/ranking/get">Ver Ranking</a>
        <a class="menu__opcion" id="salir" href="/quizquest/lobbyusuario/exit">Salir</a>
    </div>
    <div class="wave wave_abajo"></div>
</main>

<!-- PopUps -->
<div class="popup crear__partida" id="crear__partida__ventana">
    <a href="#" class="popup__button popup__cerrar" id="cerrar__crear__ventana"><i class="fa-solid fa-xmark"></i></a>
    <h2 class="popup__titulo">Crea tu partida!</h2>
    <form class="popup__formulario">
        <h3 class="popup__subtitulo">Nueva Partida</h3>
        <label>Nombre de la partida</label>
        <input type="text" name="" id="" value="">
        <button href="#" class="popup__boton boton__formulario">Crear</button>
    </form>
</div>

<div class="popup crear__pregunta" id="crear__pregunta__ventana">
    <a href="#" class="popup__button popup__cerrar" id="cerrar__pregunta__ventana"><i class="fa-solid fa-xmark"></i></a>
    <h2 class="popup__titulo">Sugiere una pregunta!</h2>
    <form class="popup__formulario">
        <h3 class="popup__subtitulo">Nueva pregunta</h3>
        <label>Pregunta</label>
        <input type="text" name="" id="" value="">
        <label>Tipo de pregunta</label>
        <select name="">
                <option value="historia">Historia</option>
                <option value="geografia">Geografía</option>
                <option value="ciencia">Ciencia</option>
                <option value="arte">Arte</option>
                <option value="deportes">Deportes</option>
                <option value="entretenimiento">Entretenimiento</option>        
       </select>
        <button href="#" class="popup__boton boton__formulario">Crear Pregunta</button>
    </form>
</div>

<script src="/quizquest/public/js/animacion_yeti.js"></script>
<script src="/quizquest/public/js/main.js" type="module"></script>