<main class="contenido">
    <div class="wave wave_arriba"></div>
    <h2 class="contenido__titulo">Partidas disponibles!</h2>
    <table class="tabla tabla__jugadores">
        <thead class="tabla__cabecera">
            <tr>
                <th>PARTIDA</th>
                <th>CREADOR</th>
                <th>UNETE</th>
            </tr>
        </thead>
        <tbody class="tabla__contenedor">
            <tr>
                <td>Nombre de la Partida</td>
                <td>Jugador 1</td>
                <td>
                    <a href="#" class="boton__unirse">Unirse</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="wave wave_abajo"></div>
</main>